body {
    font: 14px/22px 'Quattrocento Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666;
    background: #eae6d1;
    width:100%;
    top:0px;
    margin-top:0px;
}
header { background: #1E90FF;
    top:0px;

}

.button{
    weight: 20px;
    height: 10px;

}
#banner{
    background: yellow;
    allign: center;
    height: 50px;
    weight: 200px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -2%;

}

a{
    color: #3399cc;
    text-decoration: none;
}

nav ul{
    padding-left: 100px;
    font-size: 14px;
    heigt: 24px;
    list-style: none;


}

nav ul a {
    color: #666666;

}

nav ul a:hover {
   color: #999999;

}

h1 {
    font-size: 28px;

    top:0px;
    text-align: center;
    line-height: 300%;
    height: 90px;
    weight: 50px;



}

.tag-h2{
    text-align: right;

}

nav{
    float: left;
    margin-right: 20px;


}

img [alt=diagram1] {
    width: 50%;

}
section{
    margin-top: 20px;
    background: white;
    width: 600px;
float: left;
padding: 50px;}

.subsection{
    border-left: 200px;
    background: white;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0px;
    padding-bottom: 20px;


}
h2 {

    font-size: 26px;
    color: #393939;


}

h3, h4, h5, h6 {
    color: #666666;
}

h3 {
    font-size: 20px;
}


th {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    color: #444;
}

td {
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #ffcc00;
}



